<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109055897-1"></script>

  <title>{{ page.title }}</title>
  <meta name="description" content="Alec David's peronsal website providing a brief overview of his personal projects, work experience, and technical skills">
  <html lang="en">
  
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109055897-1');
  </script>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/resume">Resume</a></li>
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div>
  <!-- /.container -->
  <footer>
    <ul>
      <li><a href="mailto:alec.r.david@gmail.com">email</a></li>
      <li><a href="https://github.com/alec-david">github.com/alec-david</a></li>
    </ul>
  </footer>
</body>

</html>